@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Open+Sans:ital,wght@1,800&display=swap');
*{
	margin: 0;
 padding: 0;
 
}

.sidebar{
	background-color: darkred;
	width: 434px;
	font-family: sans-serif;
	height: 200vh;
	transition: transform 0.3s ease-in;
	}

.sidebar nav{
	padding: 45px;
	background-color: darkred;
}
.sidebar nav li{
	list-style: none;
	font-size: 20px;
	padding: 33px 0;
	background-color: darkred;
}
.sidebar nav li a{
	/*text-decoration: none;*/
	color: black;
}

.main{
	background-color: yellow;
	width: 90vw;
}
.container{
	display: flex;

}
.infoContainer{
	background-color: palevioletred;
	height: 45vw;
	width: 50vw;
	margin: 144px auto;
	display: flex;
	justify-content: space-around;
}
.devInfo{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.hello{
    font-size: 3em;
}
.name{
	font-size: 3em;
}
.about{
	font-size: 2.5em;
}
.moreabout{
	font-size: 2em;
	font-family: sans-serif;
}
.buttons{
	margin-top: 22px;
}

.buttons button{
  padding: 10px 14px;
  border-radius: 22px;
  color: white;
  background-color: darkred;
  font-weight: bold;
  font-size: 2em;
  margin: 0 3px;
  cursor: pointer;
}
.buttons button:hover{
	color: darkgreen;
	background-color: white;
	 } 

.devPic{
	height: 78vh;
}

.contactform
{
	font-family: sans-serif;
	padding-top: 144px;
	padding: 34px;
}

.contactform h1
{
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding: 12px;
}

.contactform form div
{
	padding: 10px;
	display: flex;
	flex-direction:column;
}

#emailHelp
{
	font-size: 15px;
	color: red;
	margin: 0 2px;
}

.contactform form div input
{
	width: 16vw;
	border-radius: 5px;
	margin: 6px 0 0;
	padding: 3px;
}

#form-check
{
	flex-direction: row;
}

#form-check input
{
	width: 20px;
	margin: 0 5px;
}

.btn-primary 
{
	align-self: start;
	font-size: 2em;
	padding: 10px 15px;
	margin: 10px 0;
}

.blogItem
{
	margin: 25px;
}

.blogItem h2
{
   font-family: 'Lato', sans-serif;
   font-size: 40px;
   margin: 30px;
}

.blogItem p
{
	font-family: sans-serif;
}

.devInfo h1
{
	 font-size: 80px;
	 margin-left: 50px;
}

.devInfo p
{
   font-size: 1em;
	 margin-left: 50px;
	 margin-right: 10px;
	 margin-top: 10px;
}

.devInfo h2
{
	margin-left: 50px;
	margin-top: 50px;
	font-size: 50px;
}

.skill
{
	height: 6px;
	margin-left: 10px;
	border-radius: 5px;
	border: 2px solid black;
}

.t5
{
	width: 100px;
	background-color: cadetblue;
}

.t1
{
	width: 200px;
	background-color: darkgreen;
}

.t2
{
	width: 250px;
	background-color: chartreuse;
}

.t3
{
	width: 75px;
	background-color: red;
}

.t4
{
	width: 85px;
	background-color: yellow;
}

.skillItem
{
   display: flex;
   padding: 10px;
   align-items: center;
}

.skillcontainer
{
	padding: 20px;
	font-size: 30px;
}

@media(max-width:1176px)
{
	*{
		background-color: yellow;
	}
	.devPic
	{
		display: none;
	}
	.sidebar
	{
		position: absolute;
	}
	.buttons
	{
		font-size: 10px;
	}
 
}

.hamburger
{
	position: absolute;
	cursor: pointer;
	top: 10px;
	left: 10px;
	margin-left: 10px;
}
.cross
{
	margin-left: 274px;
}

.sidebarGo
{
	transform: translate(-433px, 0px);
	position: absolute;
}

.blogcontainer
{
	margin: 88px 88px;
}